<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>AI Study</title>
  <meta name="description" content="A platform for AI study and resources.">
  <meta name="keywords" content="AI, study, resources, education">
  <meta name="copyright" content="DraKe Software">
  <meta name="csrf-token" content="hPlK8ZLvbRgnhRdhJwJAsahAXabc3OfDVCWWCuvV">
  <meta name="robots" content="index,follow" />
  <meta name="resource-type" content="document" />
  <meta name="distribution" content="local" />
  <meta name="revisit-after" content="1 days" />
  <meta property="og:title" content="AI Study">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:description" content="A platform for AI study and resources.">
  <meta property="article:tag" content="">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="AI Study">
  <meta name="twitter:description" content="A platform for AI study and resources.">
  <meta name="twitter:creator" content="@vanixjnk">
  <link rel="shortcut icon" href="/favicon.ico" type="image/png">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
  <link rel="stylesheet" href="/assets/css/landing.css">
</head>
<body class="nk-body is-light" data-menu-collapse="lg">
  {{{body}}}
  <script src="/assets/js/landing.js"></script>
</body>

</html>