<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0 footer-copyright">
                <p class="mb-0">Copyright 2025 © Designed by <b>Vani</b>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>