<div class="sidebar-wrapper" data-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a href="/home">
                <img class="img-fluid img-logo for-light" src="/assets/img/vani-logo.png" alt="">
                <img class="img-fluid img-logo for-dark" src="/assets/img/vani-logo.png" alt="">
            </a>
            <div class="toggle-sidebar">
                <svg class="sidebar-toggle">
                    <use href="/assets/svg/icon-sprite.svg#toggle-icon"></use>
                </svg>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="/home">
                <img class="img-fluid img-favicon" src="/assets/img/vani.png" alt="">
            </a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <a href="/home">
                            <img class="img-fluid" src="/assets/img/favicon.png" alt="">
                        </a>
                        <div class="mobile-back text-end">
                            <span>Back</span>
                            <i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/home">
                            <i class="fal fa-home fs-6 lh-sm"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/ai-chat">
                            <i class="fal fa-robot fs-6 lh-sm"></i>
                            <span>Trợ lý AI</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/histories">
                            <i class="fal fa-history fs-6 lh-sm"></i>
                            <span>Lịch sử</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/calendar">
                            <i class="fal fa-calendar-alt fs-6 lh-sm"></i>
                            <span>Thời gian biểu</span>
                        </a>
                    </li>
                    {{!-- <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/support">
                            <i class="fal fa-headset fs-6 lh-sm"></i>
                            <span>Hỗ trợ</span>
                        </a>
                    </li> --}}
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/discussion">
                            <i class="fal fa-comments-alt fs-6 lh-sm"></i>
                            <span>Thảo luận</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/users/explore">
                            <i class="fal fa-users fs-6 lh-sm"></i>
                            <span>Người dùng khác</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/settings">
                            <i class="fal fa-cog fs-6 lh-sm"></i>
                            <span>Cài đặt</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>